.main{
	width: 100%;
	height: auto;
	margin-top: 1.01rem;
	overflow: hidden;
}
.main_bak_login{
	width: 100%;
    height: auto;
}
/*title提示*/
.title_p{
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: #F9F9F9;
	color:#999;
	font-size: 0.26rem;
	padding-left: 0.5rem;
}
/*手机号登录*/
.main_infor{
	width: 100%;
	height: auto;
	
}
.main_infor_name{
	width: 6.94rem;
	height: 0.96rem;
	background-color: #FFFFFF;
	border-bottom: 0.01rem solid #EBEBEB;
	position: relative;
	margin: 0 auto;
    margin-bottom: 0.3rem;
    border-radius: 0.1rem;
}
.name_li{
	width: 15%;
	height: 0.9rem;
	line-height: 0.9rem;
	float: left;
	text-align: center;
	font-size: 0.3rem;
	color: #333333;
}
.name_li_phone{
	width: 0.35rem;
    height: 0.45rem;
    margin: 0.2rem;
}
.name_li_yanzhengma{
	width: 0.35rem;
    height: 0.45rem;
    margin: 0.2rem;
}
.name_input{
	width: 80%;
}
.name_input input{
	width: 100%;
	height: 100%;
	color: #333333;
	background: none;
	border: none;
	font-size: 0.3rem;
}
.name_input .img_yanzhengma {
	position: absolute;
	top: 0.12rem;
	right: 0.2rem;
	height: 0.7rem;
	line-height: 0.7rem;
	z-index: 50;
	width: 1.8rem;
	text-align: right;
}
.huoqu_yanzhengma{
	color: #CCA96A;
    position: absolute;
    top: 0;
    right: 0.24rem;
    height: 0.9rem;
    line-height: 0.9rem;
    z-index: 50;
}
.huoqu_yanzhengma img{
	width: 0.4rem;
    height: 0.3rem;
    margin: 0.35rem 0.2rem 0 0;
}
.icon-yanjing-copy {  
    display: none;
}
.name_input input.btn_yanzhengma{
	color: #fe4848;
    position: absolute;
    top: 0;
    right: 0.24rem;
    height: 0.9rem;
    line-height: 0.9rem;
    z-index: 50;
    width: 1.7rem;
    text-align: right;
}
/*登录按钮*/
.main_btn{
	width: 100%;
	height: 0.96rem;
	text-align: center;
	margin-top: 0.5rem;
}
.main_btn_a{
	display: inline-block;
	width: 6.94rem;
	height:0.96rem;
	margin: 0 auto;
}
.mian_btn_login{
	width: 100%;
	height:auto;
	line-height: 0.96rem;
	background-color: #fea8a8;
	color: #FFFFFF;
	font-size: 0.36rem;
	border-radius: 0.1rem;
}