.main {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
/*头部*/
.main_top{
	width: 100%;
	background: #fff;
	padding: .5rem 0;
}
.hea_ul{
	width: 100%;
	overflow: hidden;
}
.hea_ul li{
	float: left;
}
.hea_ul li.first{
	width: 17%;
	margin-left: .3rem;
}
.hea_ul li.first a{
	display: inline-block;
    width: 100%;
    height: 1.26rem;
    margin-top: 0.1rem;
}
.hea_ul li.first img{
	width: 1.26rem;
	height: 1.26rem;
	border-radius: 50%;
    border: .02rem solid #ebebeb;
}
.hea_ul li.second{
	width: 58%;
	margin-left: .3rem;
}
.second p{
	margin-top: .26rem;
}
#set_nickname{
	color: #444;
	font-size: .32rem;
}
#sign{
	width: 1.12rem;
	height: .38rem;
	background: #fd4848;
	border-radius: .5rem;
	color: #fff;
	font-size: .24rem;
	margin-left: .24rem;
}
#sign img{
	width: .26rem;
	height: .24rem;
	vertical-align: middle;
}
.phone{
	font-size: .26rem;
	color: #666;
}
/*中间部分*/
.list_content_shop{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.list_content_shop ul{
	width: 100%;
	height: auto;
}
.list_content_shop li{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #F4F4F4;
}
a.first_a{
	display: inline-block;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #333;
	font-size: 0.28rem;
}
.first_a span.title_content{
	float: left;
	margin-left: 0.3rem;
}
.first_a span.title_content img{
	width: .52rem;
	height: .46rem;
	vertical-align:middle;
}
.first_a span.title_content span{
	margin-left: .3rem;
}
.first_a span.back_span{
	height: 1rem;
    float: right;
    line-height: 1.1rem;
	margin-right: 0.24rem;
}
.back_span img{
	width: 0.14rem;
	height: 0.26rem;
}
.first_bg{
	width: 100%;
	height: .2rem;
	background: #f9f9f9;
}
/* iphone6 plus竖屏*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
	

}