.main{
	width: 100%;
	margin-top: 1rem;
}
.main_cont{
	width: 100%;
}
.main_cont ul li{
	width: 100%;
	height: 1.5rem;
	border-bottom: .01rem solid #ebebeb;
	line-height: 1.5rem;
	padding: 0 .26rem;
}
.main_cont ul li img{
	width: .3rem;
	height: .38rem;
}
.main_cont ul li input {
	width: 80%;
	border:none;
	outline: none;
	height: 100%;
	line-height: 1.5rem;
	font-size: .28rem;
	color: #666;
	margin-left: .26rem;
}
.main_btn{
	width: 100%;
	margin-top: .9rem;
	padding: 0 .26rem;
}
.main_btn button{
	width: 6.9rem;
	height: .8rem;
	color: #fff;
	line-height: .8rem;
	text-align: center;
	background: #fd4848;
	font-size: .32rem;
	border-radius: .08rem;
}