header{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #333333;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	font-size: 0.28rem;
	border-bottom: 0.01rem solid #f4f4f4;
	background-color: #FFFFFF;
}
/*详情头部*/
.title_top{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	color: #000;
	text-align: center;
	background-color: #fff;
}
.title_top .title_top_center{
	width: 32%;
    height: 1rem;
    float: left;
    font-size: 0.34rem;
}
.title_top a.title_top_first{
	width: 32%;
	height: 0.85rem;
	float: left;
	text-align: left;
	margin-left: 3%;
}
.title_top .hea_img{
	width: 0.18rem;
	height: 0.32rem;
	vertical-align: middle;
}