
.rize{
    width: 100%;
    height: 100%;
}

/* 头部 */
.rize{
    width: 100%;
    height: 100%;

}
header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFFFFF;
}
.title_top {
    width: 100%;
    height: 0.88rem;
    line-height: 1rem;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
}
.title_top a.title_top_first {
    width: 32%;
    height: 0.85rem;
    float: left;
    text-align: left;
    margin-left: 3%;
}
.title_top .hea_img {
    width: 0.18rem;
    height: 0.32rem;
    vertical-align: middle;
}
.title_top span {
    width: 32%;
    height: 0.88rem;
    float: left;
    font-size: 0.34rem;
}

/* 内容 */
.sky{
    width: 100%;
    height: 100%;
    margin-top: 0.88rem;
    margin-bottom: 1.1rem;
    background: #ffffff;
   
}
.headlines{
    width: 100%;
    height: 2.17rem;
    background: #ffffff;
    border-top:0.01rem solid #eeeff3;

}
.headlines{
    width: 100%;
    height: 2.17rem;
    padding-left: 0.26rem;
}
.m_c_a_r_top {
    display: block;
    line-height: 0.4rem;
    font-size: 0.3rem;
    color: #333333;
    margin-top: 0.34rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.m_c_a_r_bottom {
    display: block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.38rem;
    font-size: 0.24rem;
    color: #999999;
}
.sky ul{
    width: 100%;
    height: auto;
}
.main_content_li{
    width: 100%;
    height: 100%;
    padding-left: 0.26rem;
}
.main_content_a_lef{
    width: 100%;
    height: 2.46rem; 
}
.m_c_a_r_topp {
    display: block;
    text-indent:0.5rem;
    line-height: 0.4rem;
    font-size: 0.26rem;
    color: #333333;
    margin-top: 0.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.main_content_a_left {
    width: 7.02rem;
    height: 2.9rem;
    margin-top: 0.3rem;
}
img{
    width: 100%;
    height: 100%;
}
.main_content_a_lef img{
    width: 7.02rem;
    height: 2.9rem;
    margin-right: 0.12rem;
}

/* 底部 */
footer {
    width: 100%;
    height: 0.97rem;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-top: 1px solid #f3f6f5;
}
footer ul {
    width: 100%;
    height: 0.97rem;
}
footer li {
    width: 25%;
    height: 0.97rem;
    line-height: 0.15rem;
    font-size: 0.26rem;
    text-align: center;
    float: left;
    margin-left: 0.8rem;
}
.lose{
    width: 0.02rem;
    background: #eeeff3;
    height: 0.54rem;
    float: left;
    margin-top: 0.25rem;
    margin-left: 1.3rem;
}
footer a {
    display: inline-block;
    width: 100%;
    height: 0.97rem;
    font-size: 0.26rem;
    color: #666;
    line-height: 0.3rem;
}
.footer_span {
    width: 0.34rem;
    height: 0.32rem;
    margin-top: 0.25rem;
}
.shar{
    width: 0.6rem;
    height: 0.32rem;
    margin-top: 0.2rem; 
}